*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    background-color: #102E54;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
/* .parent_wrapper{
    margin: 0 120px;
} */
.wrapperblue{
    background-color: #102E54;
}

.nav_wrapper {
    background-color: #102E54;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav{
    padding-top: 40px;
    height: 150px;
    margin: 50px 100px;
  
}
nav{
    width: 100%;
    display: flex;   
}
nav .img{
    width: 50%;
}
.logo_parent{
    text-decoration: none;
}
nav img{
    cursor: pointer;
}
.list{
    width: 50%;
}
nav, ul, .items{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;

}
nav li{
    color: white;
}
.items:hover{
    border-bottom: 2px solid #36E2CA;
}
.items:last-child{
    border-bottom: none;
}
nav .items:last-child{
    background-image: linear-gradient(90deg, #2772D2 2.2%, #36E2CA 114.06%);
    padding: 10px 20px;
    border-radius: 4px;
}
.hero_text{
    margin: 50px 100px;
}
.hero_text h1{
    color: white;
    font-size: 6.5rem;
}
.hero_text span{
    color: #36E2CA;
}
.hero_text p{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.video{
    margin: 50px 100px;
    display: flex;
    align-items: center;
    position: relative;
}
.video .videos{
    width: 100%;
}
.video_button{
    position: absolute;
    left: 50%;
}
.known4{
    margin: 150px 100px;

}
.known4 p{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    margin-left: 40%;
}
.char{
    animation: an 1s ease-out 1 both;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.directorinfo{
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 30px;
}
.directorinfo h3{
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.directorinfo span{
    color: #2F89FC;
    font-style: italic;
}
.cardSections{
    background-color: white;
    height: 600px;
}
.cardinfo h3{
    padding-top: 100px;
    padding-left: 35%;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
.cardinfo h1{
    padding-top: 20px;
    padding-left: 35%;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
}
.cardinfo span{
    color: #2F89FC;
} 
.cards{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 80px 16%;
}
.card{
    /* width: 360px; */
    height: 450px;
    background: #2F89FC;
    color: white;
    border-radius: 4px;
}
.card h1{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding: 80px 30px 0px 30px;
} 
.card:nth-child(2){
    background-color: #FFCCCB;
    color: #000;
}
.card:nth-child(3){
    background-color: #36E2CA;
    color: #000;
}
.card p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    padding: 30px 30px;
}
.cardcontent{
    color: #000;
}
.case_study{
    margin-top: 250px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 100px;

}
.case_study h3{
    padding-top: 100px;
    padding-left: 35%;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #2F89FC;
}
.case_study h1{
    padding-top: 20px;
    padding-left: 35%;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: white;
}
.projects{
    width: 100%;
    margin-top: 50px;
    display: flex;
    /* justify-content: space-around; */
}
/* .projects img{
    width: 100px;
} */
.project1 a{
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #36E2CA;
    text-decoration: none;
}
.project1 p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.ck_stitches{
    margin-top: 100px;
 
}
.ck_stitches img{
    width: 100%;
}
.ck_stitches a{
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-decoration: none;
    color: #36E2CA;
}
.ck_stitches a:hover{
    text-decoration: 1px solid #36E2CA;
}
.ck_stitches p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.projectss{
    width: 100%;
    margin-top: 100px;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.project1{
    width: 80%;
}
.cover {
    width:100%;
    height:auto;
    display:flex;
    justify-content: flex-end;
}

.project2 a{
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #36E2CA;
    text-decoration: none;
}
.project2 a:hover{
    bord: 1px solid #36E2CA;
}
.project2 {
    width:80%;
}

.project2 p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.project2 img{
    width: 100%;
    height: 70%;
}
.project1 img{
    width: 100%;
    height: 70%;
}
.cover1 {
    justify-content: flex-start;
}
.case_study .view{
    display: grid;
    place-content: center;
    width: 100%;
    margin-top: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #7DB6FD;
}
.white{
    height: 660px;
    background-color: white;
    padding: 100px 11%;
}
.get_in_touch{
    background-color: #D5E7FE;
    height: 470px;
    border-radius: 4px;
    padding: 100px;
}
.get_in_touch h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #2F89FC;
}
.get_in_touch p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #091B32;
}
.get_in_touch a{
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #2F89FC;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 4px;
}
footer{
    margin-top: 100px;
}
.footer{
    height: 300px;
    margin: 0 11%;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.sec1, p, li{
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
}
.sec2, p, li{
    list-style: none;
    color: #2F89FC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
}
.sec3, p, li{
    list-style: none;
    color: #2F89FC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
}
.sec4, p, li{
    list-style: none;
    color: #2F89FC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
}
.sec1 a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
}
.sec2 a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

}
.sec3 a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

}
.sec4 a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

}
hr{
    border: 1px solid #2F89FC;
    margin: 0 11%;
}
.footer_copyright{
    margin: 50px 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c2022{
    width: 50%;
    justify-content: flex-start;
    align-items: center;

}
.privacy{
    justify-content: flex-end;
    align-items: center;
}
.c2022 p{
    color: white;
}
.privacy p{
    color: white;
}